//- Expects the following variables:
//-	 post_id
//-	 feed_name
//-	 metadata
//-	 post_html
//-	 pages
//-		curr_year

doctype html
meta(name="viewport" content="width=device-width, initial-scale=1")

html
	head
		link(rel="stylesheet" type="text/css" href="/main.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700")
		title David Minkley - #{page_title}
	body
		div(id="main-container")
			header
				include header.pug	
			main(class="a-lot-of-text") 
				| !{post_html}
			footer
				include footer.pug
